body{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-image: url('../../images/bg08.jpg')
}


main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

main.input-group{
    margin-top:1rem;
}

main>div{
    width: 25rem;
    box-shadow: 0px 0px 0.5rem  #00ffff ;
}